<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory> 
          <!-- 客户获取产品推荐 -->
      <mapping class="com.chinadrtv.erp.model.agent.ObContact"/>
      
                  <!-- security  -->
      <mapping class="com.chinadrtv.erp.model.security.RolePermission"/>
      <mapping class="com.chinadrtv.erp.model.security.DataView"/>
      <mapping class="com.chinadrtv.erp.model.security.DataViewPermission"/>
      <mapping class="com.chinadrtv.erp.model.security.Domain"/>
      <mapping class="com.chinadrtv.erp.model.security.Filter"/>
      <mapping class="com.chinadrtv.erp.model.security.FilterPermission"/>
      <mapping class="com.chinadrtv.erp.model.security.FilterValue"/>
            <mapping class="com.chinadrtv.erp.model.security.FieldPermission"/>
      <mapping class="com.chinadrtv.erp.model.security.ViewField"/>
 </session-factory>
</hibernate-configuration>
