<?xml version="1.0" encoding="UTF-8"?>
<!-- Reference Manual http://logback.qos.ch/manual/index.html -->

<configuration scan="true" scanPeriod="300 seconds">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">

        <!-- 日志输出格式 -->
        <encoder charset="UTF-8">
            <pattern>%d	%-6p	%l	%m	%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/acorn/data/erp-pay/pay_logs.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL">
        <level value="DEBUG" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
        <level value="TRACE" />
    </logger>

    <logger name="com.chinadrtv.erp.pay">
        <level value="DEBUG" />
    </logger>

    <root>
        <level value="ERROR" />
        <appender-ref ref="rollingFile" />
        <appender-ref ref="stdout" />
    </root>
</configuration>
