<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinadrtv.postprice.dal.wms.dao.WmsShipmentWeightDao">

    <select id="findShipmentWeight" parameterType="java.util.List" resultType="com.chinadrtv.postprice.dal.wms.model.WmsShipmentWeight">
        <![CDATA[
            select SH2.SCM_SHIPMENT_ID AS ORDERID, SC.WEIGHT AS weight
              from V_SHIPMENT_HEADER_ALL    SH,
                   V_SHIPPING_CONTAINER_ALL SC,
                   SHIPMENT_HEADER2         SH2
            WHERE
            ]]>
             <foreach collection="list" separator="or" item="item">
             (SH.INTERNAL_SHIPMENT_NUM = SC.INTERNAL_SHIPMENT_NUM
               AND SH.SHIPMENT_ID = SH2.WMS_SHIPMENT_ID
               AND SC.CONTAINER_ID IS NOT NULL
               AND SC.CONTAINER_CLASS IS NOT NULL
               AND SH2.SCM_SHIPMENT_ID = #{item.orderId}
               AND cast(SH2.SCM__REVISION as int) =#{item.orderRefRevision})
            </foreach>

    </select>

    <!--sh2.SCM_SHIPMENT_ID = ? AND sh2.SCM__REVISION = ? ";-->


    <update id="updatePostPrice" parameterType="com.chinadrtv.postprice.dal.iagent.model.PostPriceItem">
        UPDATE ACOAPP_OMS.SHIPMENT_HEADER SET WEIGHT=#{weight},POST_FEE1=#{postFee1},POST_FEE2=#{postFee2},POST_FEE3=#{postFee3} WHERE ID=#{shipmentHeadId}
    </update>

</mapper>