<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinadrtv.dal.oms.dao.PreTradeCompanyDao">

	<select id="findByTradeType" parameterType="java.lang.String" resultType="PreTradeCompany">
		select * from acoapp_oms.pre_trade_company p where p.trade_type = #{tradeType}
	</select>
	
</mapper>