<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinadrtv.dal.oms.dao.PreTradeCardDao">

	<insert id="insertBatch" parameterType="java.util.List">
		insert into acoapp_oms.pre_trade_card
		  (id, trade_id, pre_trade_id, bank_code, auth_code, id_card_number, credit_card_number, 
		  credit_card_expire, credit_card_cycles, create_user, create_date)
		SELECT acoapp_oms.PRE_TRADE_CARD_SEQ.nextval, A.* FROM (
		<foreach collection="list" separator="UNION" item="item">	
			SELECT 
			  #{item.tradeId, jdbcType=VARCHAR}, #{item.preTradeId, jdbcType=BIGINT}, 
			  #{item.bankCode, jdbcType=VARCHAR}, #{item.authCode, jdbcType=VARCHAR}, 
			  #{item.idCardNumber, jdbcType=VARCHAR}, #{item.creditCardNumber, jdbcType=VARCHAR}, 
			  #{item.creditCardExpire, jdbcType=VARCHAR}, #{item.creditCardCycles, jdbcType=INTEGER}, 
			  #{item.createUser, jdbcType=VARCHAR}, sysdate
			FROM DUAL	
  		</foreach>
  		) A  
	</insert>

</mapper>