<?xml version="1.0" encoding="UTF-8"?>

<!-- Application context definition. -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">

    <context:annotation-config />

    <context:component-scan base-package="com.chinadrtv.manual.service"/>

	<!-- Transaction Manager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

    <!--<bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
        &lt;!&ndash;<property name="url" value="jdbc:oracle:thin:@192.168.1.201:1521:orcl"></property>&ndash;&gt;
        <property name="url" value="jdbc:oracle:thin:@192.168.4.10:1521:TESTDB"></property>
        <property name="username" value="acoapp_oms"></property>
        <property name="password" value="oms.2012"></property>
        &lt;!&ndash;<property name="url"><value>jdbc:oracle:thin:@xuzk:1521:MSORAX</value></property>
        <property name="driverClassName"><value>oracle.jdbc.driver.OracleDriver</value></property>
        <property name="username"><value>TEST</value></property>
        <property name="password"><value>kikakxzk</value></property>&ndash;&gt;
    </bean>-->
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="jdbc/OmsDS" />
        <property name="resourceRef" value="true"/>
    </bean>

	<!-- Transaction Template -->
	<!--<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="transactionManager" />
	</bean>-->

    <!-- Mybatis session factory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <property name="configLocation" value="classpath:mapperConfig.xml" />
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

</beans>