<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>

        <typeAlias alias="ShippingLoad" type="com.chinadrtv.companymail.common.dal.model.ShippingLoad" />
        <typeAlias alias="ZMMRPTEMSMailList" type="com.chinadrtv.companymail.common.dal.model.ZMMRPTEMSMailList" />
        <typeAlias alias="ZMMRPTReceivableslist" type="com.chinadrtv.companymail.common.dal.model.ZMMRPTReceivableslist" />
    </typeAliases>

    <mappers>
        <mapper resource="sqlmapper/ShippingLoadMapper.xml"/>
    </mappers>

</configuration>