<?xml version="1.0" encoding="UTF-8"?>

<!-- Application context definition. -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-autowire="byName">

    <context:annotation-config />

    <context:component-scan base-package="com.chinadrtv.jingdong.service;com.chinadrtv.common.context"/>


    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" rollback-for="Throwable"/>
        </tx:attributes>
    </tx:advice>

    <bean id="propertyConfigurerMessage" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:env.properties</value>
            </list>
        </property>
    </bean>
    
    <bean id="cfgList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="1ad7dede-f3d1-4c5b-adee-cd7fb6a98753"/>
                    <property name="customerId" value="互联网京东SOP"/>
                    <property name="tradeType" value="111"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>

                <bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="05cf7789-5b1a-404e-9574-be40ecef8ffb"/>
                    <property name="customerId" value="DS橡尚优品官方旗舰店(京东SOP)"/>
                    <property name="tradeType" value="213"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>

                <bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="650d2522-efaa-43ad-83cc-34a25fa50199"/>
                    <property name="customerId" value="京东maggieq橡果专卖店"/>
                    <property name="tradeType" value="246"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>
             </list>
        </constructor-arg>
     </bean>
                

    <bean id="pvList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="1ad7dede-f3d1-4c5b-adee-cd7fb6a98753"/>
                    <property name="customerId" value="互联网京东SOP"/>
                    <property name="tradeType" value="111"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>

                <bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="05cf7789-5b1a-404e-9574-be40ecef8ffb"/>
                    <property name="customerId" value="DS橡尚优品官方旗舰店(京东SOP)"/>
                    <property name="tradeType" value="213"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>

                <bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="650d2522-efaa-43ad-83cc-34a25fa50199"/>
                    <property name="customerId" value="京东maggieq橡果专卖店"/>
                    <property name="tradeType" value="246"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>

				<bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="8d33915f-7ba4-42bc-9bab-7edb3d4c4794"/>
                    <property name="customerId" value="橡果国际官方旗舰店"/>
                    <property name="tradeType" value="105"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>
                
                <bean class="com.chinadrtv.jingdong.model.JingdongOrderConfig">
                    <property name="url" value="http://gw.api.360buy.com/routerjson"/>
                    <property name="appkey" value="C159FD262FF5D1067796B5F0D99724DC"/>
                    <property name="appSecret" value="284bc3d62b8a475285b92c502c822c22"/>
                    <property name="sessionKey" value="8f22665d-774e-4cea-a925-312915a36288"/>
                    <property name="customerId" value="橡尚优品官方旗舰店"/>
                    <property name="tradeType" value="212"/>
                    <property name="tmsCode" value="110"/>
                    <property name="tmsName" value="JINGDONG"/>
                    <property name="orderState" value="WAIT_SELLER_STOCK_OUT"/>
                    <property name="page" value="1"/>
                    <property name="pageSize" value="100"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>
</beans>