<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/acorn/data/erp-uam/services_logs.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="org.hibernate.SQL">
        <level value="TRACE" />
    </logger>
    <logger name="org.hibernate.type">
        <level value="TRACE" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
        <level value="TRACE" />
    </logger>
    
    <logger name="com.chinadrtv.uam">
        <level value="INFO" />
    </logger>
    
    <root>
        <level value="WARN" />
        <appender-ref ref="stdout" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>
