<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--IVR配置-->
    <bean id="ivrcbSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="ivrcbDataSource"/>
        <property name="configLocations">
            <list>
                <value>classpath*:hibernate.call.cfg.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.query.substitutions=true 'Y', false 'N'
                hibernate.show_sql=true
                hibernate.format_sql=false
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
                hibernate.cache.use_second_level_cache=true
                hibernate.cache.use_query_cache=true
            </value>
        </property>

        <property name="schemaUpdate">
            <value>false</value>
        </property>
    </bean>

    <bean id="ivrcbDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="${ivrcbJndiName}" />
        <property name="resourceRef" value="true"/>
    </bean>

    <bean id="ivrcbTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ivrcbDataSource" />
    </bean>


    <!--无锡-->
    <bean id="wilcomWxSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="wilcomWxDataSource"/>
        <property name="configLocations">
            <list>
                <value>classpath*:hibernate.call.cfg.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.query.substitutions=true 'Y', false 'N'
                hibernate.show_sql=true
                hibernate.format_sql=false
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
                hibernate.cache.use_second_level_cache=true
                hibernate.cache.use_query_cache=true
            </value>
        </property>

        <property name="schemaUpdate">
            <value>false</value>
        </property>
    </bean>

    <bean id="wilcomWxDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="${wilcomWXJndiName}" />
        <property name="resourceRef" value="true"/>
    </bean>

    <bean id="wilcomWxTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="wilcomWxDataSource" />
    </bean>

    <!--北京-->
    <bean id="wilcomBjSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="wilcomBjDataSource"/>
        <property name="configLocations">
            <list>
                <value>classpath*:hibernate.call.cfg.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.query.substitutions=true 'Y', false 'N'
                hibernate.show_sql=true
                hibernate.format_sql=false
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
                hibernate.cache.use_second_level_cache=true
                hibernate.cache.use_query_cache=true
            </value>
        </property>

        <property name="schemaUpdate">
            <value>false</value>
        </property>
    </bean>

    <bean id="wilcomBjDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="${wilcomBJJndiName}" />
        <property name="resourceRef" value="true"/>
    </bean>

    <bean id="wilcomBjTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="wilcomBjDataSource" />
    </bean>

    <!--上海-->
    <bean id="wilcomShSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="wilcomShDataSource"/>
        <property name="configLocations">
            <list>
                <value>classpath*:hibernate.call.cfg.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.query.substitutions=true 'Y', false 'N'
                hibernate.show_sql=true
                hibernate.format_sql=false
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
                hibernate.cache.use_second_level_cache=true
                hibernate.cache.use_query_cache=true
            </value>
        </property>

        <property name="schemaUpdate">
            <value>false</value>
        </property>
    </bean>

    <bean id="wilcomShDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="${wilcomSHJndiName}" />
        <property name="resourceRef" value="true"/>
    </bean>

    <bean id="wilcomShTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="wilcomShDataSource" />
    </bean>
</beans>