<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
            http://www.springframework.org/schema/context    
            http://www.springframework.org/schema/context/spring-context-3.0.xsd   
            http://www.springframework.org/schema/aop    
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
            http://www.springframework.org/schema/tx    
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
            http://www.springframework.org/schema/mvc    
            http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd   
            http://www.springframework.org/schema/context    
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- <context:property-placeholder location="classpath:mq.properties" /> -->
	<!-- 主题 接收配置 文件 -->

    <bean id="systemConfig" class="com.chinadrtv.common.context.SystemContext">
        <property name="SystemMap">
            <map>
                <entry key="brokerURL" value="${env_jms_server_url}"/>
            </map>
        </property>
    </bean>
	
	<bean id="jmsQueueReceive" class="com.chinadrtv.runtime.jms.receive.JmsReceiver">
		<property name="connectionFactory" ref="jmsFactoryReceive" />
		<property name="destinationName" value="${env_taobao_input_destination}" />

		<property name="messageListener">
			<bean class="com.chinadrtv.taobao.biz.jms.OrderImportTopicListener" >
                <property name="taobaoOrderConfigList">
                    <ref local="cfgList" />
                </property>
			</bean>
		</property>
	</bean>

    <bean id="jmsQueueReceive2" class="com.chinadrtv.runtime.jms.receive.JmsReceiver">
        <property name="connectionFactory" ref="jmsFactoryReceive" />
        <property name="destinationName" value="${env_taobao_feedback_destination}" />

        <property name="messageListener">
            <bean class="com.chinadrtv.taobao.biz.jms.OrderFeedbackTopicListener" >
                <property name="taobaoOrderConfigList">
                    <ref local="cfgList" />
                </property>
            </bean>
        </property>
    </bean>

    <bean id="sourceConfigure" class="com.chinadrtv.taobao.biz.SourceConfigure">
        <property name="taobaoOrderConfigList">
            <ref local="cfgList" />
        </property>
    </bean>

    <bean id="cfgList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="61026270b997779d4f00a0e1c855ec646f41f44f477fa99829074669"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="98"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="610010011becfd655371173a9edfbe1e63a24f605ecb23f44265752"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="208"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="10"/>
                </bean>
                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6100b064aca8e11cbac2cb07b39074af03c5d731fcdcd761829120473"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="221"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="61001120d720b432208819fbe674a9087969512995e1f721745952451"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="239"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6101014422120abaceff0e113e411669e3c6b970e46f9671738059546"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="206"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="10"/>
                </bean>

               <!-- <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6102602b6b10797cb72a6ce4672a8d7eb1e0f3c3ebe30581796007626"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="209"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="10"/>
                </bean>-->

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6101404e93271444396ef0d1ceb6aecbb996c38dd90260f1829524257"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="228"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="61004098ae83e09a6193296a97c4b0bd142a588fb33d09a853641722"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="237"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="9"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="610141891037bf83015565c9e010d736072e1540e5a27ae912054893"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="127"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="9"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6100e3080a65342df0d745216905a5293dc7b31fdebgid51019757105"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="238"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="10"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6102905ed309214cf0fhe4da3493585e15238f63c4361a32001459576"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="245"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6102501b4132fcZZec653674470bb3323e6448194052aa22023158850"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="244"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6101c22e552908fc36c28a885d493d1e823ZZd7e52482951916877872"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="247"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="20"/>
                </bean>

                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="61001194f7ec55a8f874008245914940650f9352ef059cc2038122309"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="248"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>
				<!-- 天猫背背佳北京专卖店 -->
				<bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6100e0741b02284154e02e78bef65c97434d2a580d34f6d2097999908"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="251"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>
                <!-- 互联网淘宝天天养生 -->
                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="61008277c4c7b6bcc9683ef800aef89286d1d6bb83565b22091000130"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="252"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>
                <!-- 互联网淘宝吃东吃西 -->
                <bean class="com.chinadrtv.taobao.model.TaobaoOrderConfig">
                    <property name="url" value="http://gw.api.tbsandbox.com/router/rest"/>
                    <property name="appkey" value="21006959"/>
                    <property name="appSecret" value="154d63659bfc5c48aaea9a8f1c945a43"/>
                    <property name="sessionKey" value="6101511f150453c3cc31460eac13932ced916bca427a7392089087941"/>
                    <property name="customerId" value=""/>
                    <property name="tradeType" value="253"/>
                    <property name="tmsCode" value="107"/>
                    <property name="sourceId" value="2"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

    <bean id="orderBizHandler" class="com.chinadrtv.taobao.biz.impl.OrderBizHandlerImpl"/>

</beans>