<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.chinadrtv.erp.model.trade.ShipmentHeader" />
		<mapping class="com.chinadrtv.erp.model.trade.ShipmentChangeHis" />
		<mapping class="com.chinadrtv.erp.model.trade.ShipmentDetail" />

		<mapping class="com.chinadrtv.erp.model.AreaGroupDetail" />
		<mapping class="com.chinadrtv.erp.model.AreaGroup" />
		<mapping class="com.chinadrtv.erp.model.OrderAssignRule" />
		<mapping class="com.chinadrtv.erp.model.OrderPayType" />
		<mapping class="com.chinadrtv.erp.model.OrderType" />
		<mapping class="com.chinadrtv.erp.model.PayType" />
		<mapping class="com.chinadrtv.erp.model.OrderChannel" />
		<mapping class="com.chinadrtv.erp.model.Company" />
		
		<mapping class="com.chinadrtv.erp.model.agent.OrderDetail"/>
		<mapping class="com.chinadrtv.erp.model.agent.Order"/>
		<mapping class="com.chinadrtv.erp.model.agent.OrderhistHist"/>
		<mapping class="com.chinadrtv.erp.model.agent.OrderdetHist"/>
		<mapping class="com.chinadrtv.erp.model.agent.OrderdetHistory"/>
		<mapping class="com.chinadrtv.erp.model.agent.OrderHistory"/>
		<mapping class="com.chinadrtv.erp.model.agent.Product"/>
		
		<mapping class="com.chinadrtv.erp.model.AddressExt"/>
		<mapping class="com.chinadrtv.erp.model.agent.AreaAll"/>
		<mapping class="com.chinadrtv.erp.model.agent.CityAll"/>
		<mapping class="com.chinadrtv.erp.model.agent.CountyAll"/>
		<mapping class="com.chinadrtv.erp.model.agent.Province"/>
		
		<mapping class="com.chinadrtv.erp.model.Address"/>
		<mapping class="com.chinadrtv.erp.model.agent.MediaDnis"/>

		<mapping class="com.chinadrtv.erp.model.Phone"/>
		<mapping class="com.chinadrtv.erp.model.PreTrade"/>
		<mapping class="com.chinadrtv.erp.model.PreTradeDetail"/>
		<mapping class="com.chinadrtv.erp.model.PreTradeLot"/>
        <mapping class="com.chinadrtv.erp.model.PreTradeCard" />
        <mapping class="com.chinadrtv.erp.model.inventory.ProductType" />
        <mapping class="com.chinadrtv.erp.model.inventory.ProductSuiteType" />
        <mapping class="com.chinadrtv.erp.model.inventory.PlubasInfo" />
        <mapping class="com.chinadrtv.erp.model.CompanyContract" />
        <mapping class="com.chinadrtv.erp.model.Warehouse" />
        <mapping class="com.chinadrtv.erp.model.OrderChannel" />
        <mapping class="com.chinadrtv.erp.model.Ems" />
        <mapping class="com.chinadrtv.erp.model.agent.Card" />
        <mapping class="com.chinadrtv.erp.model.Cardtype" />
        <mapping class="com.chinadrtv.erp.model.UserProduct" />
        <mapping class="com.chinadrtv.erp.model.ModifyOrderhist" />
        <mapping class="com.chinadrtv.erp.model.ModifyOrderhistExt" />
        <!--<property name="hibernate.ejb.event.post-insert" >org.hibernate.ejb.event.EJB3PostInsertEventListener,org.hibernate.envers.event.AuditEventListener</property>
        <property name="hibernate.ejb.event.post-update">org.hibernate.ejb.event.EJB3PostUpdateEventListener,org.hibernate.envers.event.AuditEventListener</property>
        <property name="hibernate.ejb.event.post-delete">org.hibernate.ejb.event.EJB3PostDeleteEventListener,org.hibernate.envers.event.AuditEventListener</property>
        <property name="hibernate.ejb.event.pre-collection-update">org.hibernate.envers.event.AuditEventListener</property>
        <property name="hibernate.ejb.event.pre-collection-remove">org.hibernate.envers.event.AuditEventListener</property>
        <property name="hibernate.ejb.event.post-collection-recreate">org.hibernate.envers.event.AuditEventListener</property>-->

        <!--<event type="post-update"><listener class="com.chinadrtv.erp.shipment.util.impl.ShipmentChangeListenerImpl"/></event> -->
	</session-factory>
</hibernate-configuration>
