body{ margin:0; padding:0; text-align:center; font:12px/18px "微软雅黑","黑体", "宋体", Tahoma, "Arial Unicode MS"; color:#444;}
img{ border:0;}
input[type="text"],input[type="password"],select{font-family:"微软雅黑"; vertical-align:middle;border: 1px solid #999999;border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 2px #D6D6D6 inset;-webkit-box-shadow:1px 1px 2px #D6D6D6 inset;}
textarea {font-size:12px;border: 1px solid #999999;border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 2px #D6D6D6 inset;-webkit-box-shadow:1px 1px 2px #D6D6D6 inset;}
a{ outline:none}
a{ color:#666; text-decoration:none; cursor: pointer}
a:hover{  text-decoration:none}

.welcome{font-size:22px;color:#3c7c1d;margin-left:20px;font-family:'宋体';}
.wel_bg1{margin:5px 0 0 20px;background:url("../images/wel_bg1.png") no-repeat;height:191px;}
.wel_bg2{margin-left:20px;background:url("../images/wel_bg2.png") no-repeat right bottom;min-height:336px;}
.w{margin:0 auto;  display: block; text-align: left;background:url("/static/images/tr_b.png");}
.w80{width:80px!important;display:inline-block;}
.w100{width:100px!important;display:inline-block;}
.flt{ float:left}
.flr{ float:right}
.ml10{ margin-left:10px}
.mr10{margin-right:10px;}
.mt10{ /*margin-top:10px;*/ margin: 10px auto; overflow-x:hidden;}
.mt60{ margin-left:60px}
.txt_r{ text-align: right}
.txt_c{ text-align:center}
.pt_10{ padding-top:10px}
.pb_10{ padding-bottom:10px}
/*==============login page==============*/
.g_block{width:100%;height:180px;background-color:#29880a;}
.dl_block{width:50%;}
.dl_block span{ float:right;width:212px; height:173px; margin:80px 150px 0 0;background:url("../images/lock.png") no-repeat;}
.dr_block{width:50%;}
.do{float:left; margin:-109px 0 0 70px;width:354px;font-size:14px;}
.do h1{width:354px;height:109px;background:url("../images/do_h.png") no-repeat;margin:0;}
.do_b{height:280px; background:url("../images/do_b.png") repeat-y;padding:15px 30px;}
.do_b p{margin:0; text-align:left;padding:5px 0;}
.do_f{width:354px;height:60px;background:url("../images/do_f.png") no-repeat;}
.l_Btn{width:188px;height:40px;float:right;background:url("/static/images/l_btn.png") no-repeat;border:none;opacity:0.9;}
.l_Btn:hover{ cursor:pointer; opacity:1;}
.rid{height:40px;font-size:12px;}
.icon{ vertical-align:middle;float:left;margin:2px 0 1px 0; }
/*======================================*/

.grid_260{ width:200px;height:auto!important;*height:100%; float:left; text-align:left; top:60px;*top:0;bottom:0;left:0; box-shadow: 0 3px 3px #3F9203 inset;}
.grid_260 .tree{width:100%; overflow:hidden;float:left;margin-top: 10px;}
.handlebar{ float:left; position: relative;width:5px;background:url(/static/images/hbar_bg.png) repeat-y;cursor:pointer;}
.handlebar img{left: 50%;margin-left: -2px; margin-top: -20px;position: absolute;top: 50%;}
.handlebar:hover{background-position:-5px 0;}
.group{color:#ffffff;height:20px; text-align:center;font-size:24px;padding:20px;}
.grid_700{ width:auto; text-align:left;margin-left:200px;background:#fff; top:60px;left:200px; bottom:0;}
.container{margin:0 10px;}
.logoc{ padding:10px; text-align: left}
.slide01{ border:1px solid #d7d7d7;}
.slide01 img{ width:698px;}
.top_nav ._date {
    background: url("/static/images/clock.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 0 0 25px;
    text-shadow: 1px 1px 1px #1D4500;
    margin-bottom:8px;
    vertical-align:bottom;
}
.outbutton {
    background: url("../images/key.png") no-repeat scroll 0 1px transparent;
    color: #265C00;
    float: right;
    height: 16px;
    line-height: 16px;
    margin: 35px 10px 0 25px;
    padding: 0 0 0 23px;
    text-shadow: 1px 1px 1px #DAEDCC;
}
.top_nav .comp {
    background: url("../images/guo.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 16px;
    line-height: 16px;
    margin: 35px 0 0 25px;
    padding: 0 0 0 25px;
    text-shadow: 1px 1px 1px #1D4500;
}
.top_nav .user {
    background: url("../images/user1.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 16px;
    line-height: 16px;
    margin: 35px 0 0 25px;
    padding: 0 0 0 20px;
    text-shadow: 1px 1px 1px #1D4500;
}
.outbutton:hover{color:#affe2c;}
/*====================================
font
=====================================*/
.F_red{ color:#c00}
.F_gay{ color:#999}
/*====================================
form
=====================================*/
.w_120{ width:280px;height:20px;padding:5px; background-color:#f1f1f1;border-radius:4px;border:1px #999999 solid;-moz-box-shadow:2px 2px 2px #999 inset;-webkit-box-shadow:2px 2px 2px #999 inset;box-shadow:2px 2px 2px #999 inset; }
.h_200{ height:200px}
.btn_login{  border:0; background:transparent; margin-right:5px;display:block; width:72px; height:21px; background:url(/static/images/unie_01.png) no-repeat 0 -55px; text-align:center; line-height:21px; color:#fff; letter-spacing:1pt; cursor: pointer}
.area_280{ width:280px; height:80px; border:1px solid #d7d7d7; background:#fff; color:#666; padding:2px;}
 .error{  color:#DD2026;height:18px; list-style: none;text-indent:5px;}

/*====================================
footer
=====================================*/
.footer{width:980px; background-position:0 -180px; height:168px; line-height:2.1; text-align:left; overflow:hidden;}
div.footer{border:#ccc 1px solid; padding:10px 0 0 0; margin:0 auto; margin-top:20px; }
.footer dl{width:300px; float:left; padding:0px 12px 0px 13px; border-right:#ccc 1px solid; position:relative; right:-3px;}
.footer dl dt{border-bottom:1px solid #5EA618; font:bold 14px "宋体", Arial; text-indent:0.8em; line-height:2.1; margin-bottom:4px;}
.footer dl dd{padding-left:1em; }

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}


