@charset "utf-8";
/* CSS Document */
/********** customer base info **********/
.baseInfo{  padding:10px; border:1px #b5b5b5 solid; background:#fbfbfb;position: relative}
.abs{ position: absolute;-webkit-transform:rotate(-45deg);/* 旋转角度 */
    -webkit-transform-origin:10px 25px;/* 旋转圆心 */}
.baseInfo table td{ padding:5px;}
.searchbox{ background:url(../js/themes/default/images/searchbox_button.png) no-repeat; padding:0 0 0 16px; height:16px;}

/********** easyui tabs css **********/
.tabs-header {
    border-style: solid;
    overflow: hidden;
    padding: 2px 0 0;
    position: relative;
}
.tabs-panels{padding:0 15px;}
.tabs-panels .submitBtns{ text-align: center;}
.tabs-wrap {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.tabs {
    border-style: solid;
    border-width: 0 0 3px;
	 border-color:#236fbd;
	
    height: 26px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 4px;
   
}
.tabs li {
    border: 0 none;
    display: inline-block;
    float: left;
    margin: 0 4px -1px 0;
    padding: 0;
    position: relative;
}
.tabs li a.tabs-inner {
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
	border-color:#e0e1e1;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: -moz-linear-gradient(center top , #eeeff0 0pt, #f9fafb 100%) repeat-x scroll 0 0 transparent;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#eeeff0), to(#f9fafb));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeff0,endColorstr=#f9fafb);
	color: #666;
}

.tabs li.tabs-selected a.tabs-inner {
    border-color: #236fbd;
    background: -moz-linear-gradient(center top , #2064ab 0pt, #236fbd 100%) repeat-x scroll 0 0 transparent;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2064ab), to(#236fbd));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2064ab,endColorstr=#236fbd);
	color: #ffffff;
}
.tabs-title {
    font-size: 12px;
}  


/********** inboundCall private **********/
.submitBtns {text-align:right;}
.submitBtns a {
    color: #0f4f62;;
    text-shadow: rgba(255, 255, 255, 0.496094) 0px 1px;
    padding: 2px 30px;
    border-width: 1px;
    border-color: #57a9cb #2a93bf #2683aa #2a93bf ;
    border-style:solid;

    border-radius: 2px;
    background: -moz-linear-gradient(#a2d8f7, #4eb4f0) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #a2d8f7, endColorstr = #4eb4f0);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2d8f7), color-stop(100%, #4eb4f0));
    -webkit-box-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 0px inset;
}

.submitBtns a:hover {
    text-decoration: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86cef7), color-stop(100%, #35abf0));
}.submitBtns a:active {
     text-decoration: none;
     border-color: #4192aa;
     -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
     background:#4eb4f0;
 }
.phoneNums input[type="text"]{height:15px;}
.phoneNums-title{width:100px; float:left; padding:5px; font-size:14px; color:#3e7bc2;}
.phoneNums-content{float:left;}
.phoneNums-content li{padding:5px; height:22px;}
.phoneNums-content li label.acp_label,a.closeBtn span{ vertical-align: middle; display:none; }
label.acp_label{ margin:0 10px 0 30px;}
label.acp_label input{ vertical-align:-2px;}
.phoneNums-content li:hover{ background:#dceff5;}
.phoneNums-content li:hover label.acp_label,.phoneNums-content li:hover a.closeBtn span{ display:inline-block}
a.addBtn span{ vertical-align:middle; display:inline-block;width:16px; height:16px; background:url(themes/default/images/datagrid_icons.png) no-repeat -48px center;}
a.delBtn span{ vertical-align:middle; display:inline-block;width:16px; height:16px; background:url(themes/default/images/datagrid_icons.png) no-repeat -32px center;}

.receiptInfo,.creditCards,.papers,.history{ margin:20px 0 0;}
.history .tabs{padding-left:0;border-bottom:none;}
.history .tabs li.tabs-selected a.tabs-inner{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#3892d3), to(#3892d3));
    border-color: #3892d3;
}
.history .tabs li a.tabs-inner {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));
    border-color: #f1f1f1;
}
.history .tabs-panels{padding: 0;}
.history .l_i_h,.history .m_h{border: 3px #3892d3 solid;border-radius: 0 5px 5px 5px;}
.receiptInfo-title,.creditCards-title,.papers-title{  color: #3E7BC2; font-size:14px; padding:5px;}
.tabs-form{ margin:15px 0;}
.tabs-form p{ padding:5px 0;}

.extendInfo table tr{ margin:5px 0;}
.extendInfo table td,.tabs-form table.win_table td{padding:5px;}
.extendInfo label input{ vertical-align:middle; margin-left:0;}
.underline{ border-bottom:1px #226fbf solid;}

a.window_btn {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 66px;
    height: 25px;
    line-height: 25px;
    /*border: 1px #064586 solid;*/
    border: none;
    border-radius: 5px;
    background-color: #3386C2;
    background-image: -moz-linear-gradient(center top, #4792C8, #3386C2 50%, #307FB8 51%, #3386C2);
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(#4792C8), color-stop(0.5, #3386C2), color-stop(0.51, #307FB8), to(#3386C2));
    border-color: #157FCC;

}

a.window_btn:hover {
    background: -moz-linear-gradient(#1e81cb, #0360ad) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1e81cb), to(#0360ad));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #1e81cb, endColorstr = #0360ad);

}

.sift{ border-width:1px 1px 0 1px; border-style:solid; border-color:#888888; padding:5px 10px;background:-moz-linear-gradient(#f9f9f9, #dfdfdf) repeat scroll 0 0 transparent;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#dfdfdf));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9,endColorstr=#dfdfdf); box-shadow:3px 3px 3px #999999;-webkit-box-shadow:3px 3px 3px #999999;}

/**********compare window css **********/

.c_content{margin:10px;}
table.c_table {border-width:0 0 3px 0;border-color:#236FBD;border-style:solid;border-collapse:separate;}
.c_title{padding:5px; background:#236FBD; color:#fff;}
.c_context{padding:5px;}
.c_context .layout td{padding:5px}
.rBorder{border-width:0 2px 0 0;border-color:#9d0f0d;border-style:solid;}
a.phoneNums_btns {
    display: inline-block;
    width: 66px;
    height: 22px;
    line-height:22px;
    border: 1px #064586 solid;
    border-radius: 3px;
    background: -moz-linear-gradient(#1e81cb, #0361ae) repeat scroll 0 0
    transparent;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1e81cb),
    to(#0361ae) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1e81cb,
    endColorstr=#0361ae );
    color: #488f4e;
    text-align: center;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 0px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px inset;
}
a.phoneNums_btns:hover{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d79bf),
    to(#035aa1) );
}
a.phoneNums_btns:active{
    background: #0361ae;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.cr_table td{padding:5px;}
.cr_table select{width:60px;}
.cr_title{ color:red;}

.red{color:red!important;}
.h2_tabtitle{ font-family: "Microsoft YaHei",SimSun,Tahoma,Verdana,Arial,sans-serif;
    font-size: 16px;color: #0097ef;  height: 26px;margin-bottom:10px;
    line-height: 26px;border-bottom:2px #0097ef solid;}
.h3_tabtitle{ font-family: "Microsoft YaHei",SimSun,Tahoma,Verdana,Arial,sans-serif;
    font-size: 12px;color: #0066CC; margin-bottom:10px;
    border-bottom:2px #236FBD solid; 
    
  
    padding: 0 5px 0 0 !important;}
.tooltip_2 {color:#666; background: #fff;font-size:11px;}
.tooltip_2 th{ background: #f3f3f3;}
.tooltip_2 th,.tooltip_2 td{  padding:0 5px;border:1px #ccc solid;}
.combo-panel{max-height: 150px;}
.exa{width:41px;height: 14px;line-height:12px;display: inline-block;background:url(../images/exa.png) no-repeat; color: #f7f4f2;font-size: 10px;text-shadow: none;font-weight: bold;opacity: 0.8;text-align: center}
.exaa{width:41px;height: 14px;line-height:12px;display: inline-block;background:url(../images/exaa.png) no-repeat; color: #fff;font-size: 10px;text-shadow: none;font-weight: bold;opacity: 0.8;text-align: center}
/*.changeCu{background:url(../images/changeCu.png) no-repeat;display: inline-block;width: 17px;height: 15px;cursor: pointer }*/
.changeAuTa td table th, .changeAuTa td table td{color:inherit!important;}
/*.compare_cell{overflow: hidden;text-overflow: ellipsis;min-width: 25px}*/
.compare_cell{min-width: 25px}
