@charset "utf-8";
/* CSS Document */
#home {
	padding: 20px
}

.myCampaignTasks,.myAuditTasks,.myTasks,.issueOrders {
	margin-bottom: 20px; height:210px;
}
.panel-title {
    padding:0;
}
#home .panel-header {
	padding: 5px 0;
	border: 1px silver solid;
	border-bottom: none;
	background: -moz-linear-gradient(#f9f9f9, #dedede) repeat scroll 0 0
		transparent;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9),
		to(#dedede) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9,
		endColorstr=#dedede );
}

#home .panel-title {
	color: #236fbd;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	text-indent: 5px;
}