<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinadrtv.dal.iagent.dao.CompanyDao">

    <select id="findByCompanyId" parameterType="java.lang.String" resultType="Company">
         select * from iagent.company a where a.companyid = #{companyid}
	</select>

</mapper>