<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinadrtv.dal.iagent.dao.PlubasInfoDao">

	<select id="checkSkuCode" parameterType="java.lang.String" resultType="java.lang.Boolean">
		select 1 from iagent.plubasinfo p where p.plucode = #{skuCode}
			<![CDATA[
			and rownum<=1
			]]>
	</select>
	
	<select id="getSkuTitle" parameterType="java.lang.String" resultType="java.lang.String">
		select p.pluname from iagent.plubasinfo p where p.plucode = #{outSkuId}
	</select>
	
</mapper>