<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinadrtv.dal.iagent.dao.ProvinceDao">

	<select id="queryById" parameterType="java.lang.String" resultType="Province">
		select * from iagent.province p where p.provinceid = #{provinceId}
	</select>
</mapper>