<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ldapServer"
		class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<constructor-arg name="providerUrl" value="${ldap.urls}" />
		<property name="userDn" value="${ldap.user}" />
		<property name="password" value="${ldap.password}" />
	</bean>


	<bean id="springSecurityLdapTemplate"
		class="org.springframework.security.ldap.SpringSecurityLdapTemplate">
		<constructor-arg ref="ldapServer" />
	</bean>

</beans>
