<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="CompanyContract" type="com.chinadrtv.remindmail.common.dal.model.CompanyContract" />
        <typeAlias alias="MailDetails" type="com.chinadrtv.remindmail.common.dal.model.MailDetails" />

    </typeAliases>

    <mappers>
        <mapper resource="sqlmapper/CompanyContractMapper.xml"/>
        <mapper resource="sqlmapper/MailDetailsMapper.xml"/>

    </mappers>

</configuration>