<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="JobHistoryDO">

	<sql id="queryParam">
		<if test="id != null and id != ''">
				AND ID = #{id}
		</if>
		<if test="jobId != null and jobId != ''">
				AND JOB_ID = #{jobId}
		</if>
		<if test="jobStatus != null and jobStatus != '-1'">
				AND JOB_STATUS = #{jobStatus}
		</if>
		<if test="jobTime != null and jobTime != ''">
				AND JOB_TIME = #{jobTime}
		</if>
		<if test="message != null and message != ''">
				AND MESSAGE = #{message}
		</if>
		<if test="jobName != null and jobName != ''">
				AND JOB_NAME LIKE CONCAT('%','${jobName}','%' )
		</if>
		<if test="jobSystem != null and jobSystem != ''">
				AND JOB_SYSTEM = #{jobSystem}
		</if>
	</sql>

	<!-- 新增任务 -->
	<insert id="add" parameterType="com.chinadrtv.scheduler.common.dal.model.JobHistoryDO">
		INSERT INTO QUARTZ_JOB_HISTORY 
		(ID, JOB_ID, JOB_NAME, JOB_SYSTEM, MESSAGE, JOB_STATUS, JOB_TIME )
		VALUES
		(ID_ADD.NEXTVAL, #{jobId}, #{jobName}, #{jobSystem}, #{message}, #{jobStatus}, #{jobTime})
	</insert>
	
	<!-- 删除任务 -->
	<delete id="deleteByPK" parameterType="java.lang.Integer">
		DELETE QUARTZ_JOB_HISTORY
		WHERE  ID = #{ID}
	</delete>

	<select id="queryByPK" resultType="com.chinadrtv.scheduler.common.dal.model.JobHistoryDO">
		SELECT ID id,
			   JOB_ID jobId, 
			   JOB_NAME jobName, 
			   JOB_SYSTEM jobSystem,
			   MESSAGE message,
			   JOB_STATUS jobStatus,
			   JOB_TIME jobTime
		  FROM QUARTZ_JOB_HISTORY
		  WHERE ID = #{id}
	</select>

	<select id="query" resultType="com.chinadrtv.scheduler.common.dal.model.JobHistoryDO">
		SELECT ID id,
			   JOB_ID jobId, 
			   JOB_NAME jobName, 
			   JOB_SYSTEM jobSystem,
			   MESSAGE message,
			   JOB_STATUS jobStatus,
			   JOB_TIME jobTime
		  FROM QUARTZ_JOB_HISTORY
		 WHERE 1=1
		<include refid="queryParam" />
		ORDER BY ID DESC
	</select>

	<select id="queryAll" resultType="com.chinadrtv.scheduler.common.dal.model.JobHistoryDO">
		SELECT ID id,
			   JOB_ID jobId, 
			   JOB_NAME jobName, 
			   JOB_SYSTEM jobSystem,
			   MESSAGE message,
			   JOB_STATUS jobStatus,
			   JOB_TIME jobTime
		  FROM QUARTZ_JOB_HISTORY
	</select>
	
	<update id="update" parameterType="com.chinadrtv.scheduler.common.dal.model.JobHistoryDO">
		update QUARTZ_JOB_HISTORY
		<set>
			<if test="id != null and id != ''">
					ID = #{id},
			</if>
			<if test="jobId != null and jobId != ''">
					JOB_ID = #{jobId},
			</if>
			<if test="jobName != null and jobName != ''">
					JOB_NAME = #{jobName},
			</if>
			<if test="jobSystem != null and jobSystem != ''">
					JOB_SYSTEM = #{jobSystem},
			</if>
			<if test="message != null and message != ''">
					MESSAGE = #{message},
			</if>
			<if test="jobStatus != null and jobStatus != ''">
					JOB_STATUS = #{jobStatus},
			</if>
			<if test="jobTime != null and jobTime != ''">
					JOB_TIME = #{jobTime},
			</if>
		</set> 
		WHERE ID = #{id}
	</update>

	<select id="count" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM QUARTZ_JOB_HISTORY WHERE 1=1
		<include refid="queryParam" />
	</select>
</mapper>