/*-------------------------------------------------------------------------------------
act layout 
-------------------------------------------------------------------------------------*/
.act_lft{ width:160px; float: left}
.act_cen{ width:624px; float:left; margin-left:8px; }
.act_rig{ width:200px; float:right; overflow-y:hidden}






.act_adtab{ width:624px; border:1px solid #ECECEC; border-collapse:collapse}
.act_adtab td{ border:1px solid #ECECEC; text-align:center; vertical-align:middle}





.ap_name{ padding:3px 0; height:18px; _width: 180px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;word-wrap: break-word; word-break: normal; }
.ap_name a{ font:12px/18px; color:#646464; text-decoration:none}
.ap_name a:hover{ font:12px/18px; color:#29880A; text-decoration:none}
.ap_btnbuy{ width:75px; margin:5px auto}
.ap_btnbuy a {width:71px; height:24px; display:block; background:url(/static/images/icon/iconbutton.png) no-repeat 0 -168px; padding-left:22px; line-height:24px;color:#666; text-decoration:none; letter-spacing:1px}
.ap_btnbuy a:hover{background:url(/static/images/icon/iconbutton.png) no-repeat -95px -168px;font:12px/24px; color:#fff; text-decoration:none; letter-spacing:1px}





.til_shopcar{ background:url(/static/images/shopcart/bgtil_cartcen.jpg) repeat-x; height:41px; line-height:41px}
.til_shopcar span.tilspcarlft{ width:5px; height:41px; display:block;float:left;background:url(/static/images/shopcart/bgtil_cartlft.jpg) no-repeat}
.til_shopcar span.tilspcarlogo{ width:130px; height:25px; display:block; float: right; margin-top:8px; margin-right:10px}
.til_shopcar span.tilspcarig{ width:5px;height:41px; float:right; display:block; background:url(/static/images/shopcart/bgtil_cartrig.jpg) no-repeat}
.til_shopcar span.tilspcarcon{ float:left; margin-left:10px;line-height:41px;  font-weight: bold; color:#333;}

/*.carlogo{ background:url(../images/shopcart/icon_shopcart.png) no-repeat 0 0;-pie-png-fix:true;behavior: url(../scripts/PIE.htc);width:130px; height:25px;}
*/
.cart_wcon{ border:1px solid #d0d0d0; padding:10px}
.car_promotiond{ margin-bottom:10px; position:relative}

.cart_promotionimg{ width:300px;float:left; margin-left:20px;}
.cart_promotionimg img{ width:300px; height:150px}

.act_cxtxt{ position:absolute; right:2px; top:5px; display:block;width:120px; height:30px; background:url(/static/images/index/index.png) no-repeat -222px  -89px;}

.act_cxbg{ height:8px; background:url(/static/images/icon/bg_leftshadow.png) no-repeat left top;}
.act_cxbg span{ height:8px; display:block; background:url(/static/images/icon/bg_rightshadow.png) no-repeat right  top}

.act_pages{ clear: both; padding:15px 0; text-align:center;}

/*-------------------------------------------------------------------------------------
act edit 
-------------------------------------------------------------------------------------*/

/* 氧立得=YLD */
.act_plist{ _width: 624px; border:1px solid #ECECEC; letter-spacing:0.1em; overflow: hidden;}
.act_plist h1{padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#095cb1}
.act_plist ul li{ width:182px;  float:left; padding:10px 0 10px 20px;text-align:center; }
.aP_img{ display:block;}
.aP_img img{ width:180px; height:180px; }
.aP_img a{ display:block; width:182px; height:182px;border:1px solid #ececec;}
.aP_img a:hover{ display:block; width:182px; height:182px; border:1px solid #29880A}



.act_list{ position:relative; zoom:1;border:1px solid #ECECEC; letter-spacing:0.1em}
.act_list h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#095cb1}
.act_list ul{ margin:0;padding:10px;}
.act_list ul li { border-bottom:1px dashed #ECECEC; padding:3px 5px 3px 12px; background:url(/static/images/act/act_dottedYLD.gif) no-repeat left center;}
.act_list ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_list ul li a:hover{ font-size:12px; color:#095cb1; text-decoration:none}
.act_list  span.icon_Pfoot{ position:absolute; display:block; z-index:999;right:-1px; bottom:-1px; _bottom:-5px; left:auto; top:auto; width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}




.act_TVad{ background-color:#28669C;}
.act_TVad h1{ height:41px; padding-left:12px; background:url(/static/images/act/actYLD_bgtil.png) repeat-x; line-height:41px; color:#fff}
.act_TVad  p{ height:115px; margin:4px; border:1px solid #0B97F5; text-align:center}


.ap_price{  color:#095cb1; font-weight:bold}





/*背背佳=BBK*/
.act_listBBK{ position:relative; zoom:1; border:1px solid #ECECEC; letter-spacing:0.1em}
.act_listBBK h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#65a81c}
.act_listBBK ul{ margin:0;padding:10px;}
.act_listBBK ul li { border-bottom:1px dashed #ECECEC; padding:3px 5px 3px 12px; background:url(/static/images/act/act_dottedBBK.gif) no-repeat left center;}
.act_listBBK ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_listBBK ul li a:hover{ font-size:12px; color:#65a81c; text-decoration:none}
.act_listBBK  span.icon_Pfoot{ position:absolute; display:block; z-index:999; right:-1px; bottom:-1px; _bottom:-4px; left:auto; top:auto;width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}

.act_TVBBK{ background-color:#175E30;}
.act_TVBBK h1{ height:41px; padding-left:12px; background:url(/static/images/act/actBBK_bgtil.png) repeat-x; line-height:41px; color:#fff}
.act_TVBBK  p{ height:115px; margin:4px; border:1px solid #65a81c; text-align:center}

.act_plistBBK{ border:1px solid #ECECEC; letter-spacing:0.1em; overflow-x: hidden; overflow-y: hidden; _width: 624px}
.act_plistBBK h1{padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#65a81c}
.act_plistBBK ul li{ width:182px;  float:left; padding:10px 0 10px 20px;text-align:center; }

.ap_priceBBK{  color:#65a81c; font-weight:bold}




.act_photBBK{ position:relative; border:1px solid #ECECEC; letter-spacing:0.1em; overflow: visible/*overflow-x:hidden;overflow-Y:hidden*/}
.act_photBBK h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#65a81c}
.act_photBBK ul{ margin:0; padding:0}
.act_photBBK ul li {border-bottom:1px dashed #ECECEC; padding:5px 0; background:#fff;overflow:auto;_height:1% }
.act_photBBK ul li:hover{  border-bottom:1px dashed #ECECEC; padding:5px 0; background:#F3F3F3}
.act_photBBK ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_photBBK ul li a:hover{ font-size:12px; color:#65a81c; text-decoration:none}
.act_photBBK  span.icon_Pfoot{position:absolute; right:-1px; bottom:-1px; width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}

.p56{ width:60px; float:left; margin-left:5px}
.p56 img{ width:56px; height:56px}
.p56 a{ display:block; width:60px; height:60px;border:1px solid #d7d7d7; background:#fff;}
.p56 a:hover{border:1px solid #65a81c; background:#fff;}

.p56txt{ width:100px; height: 38px; float:left; margin-left:8px; text-align:left;word-wrap: break-word; word-break: normal; overflow:hidden;white-space:nowrap; text-overflow:ellipsis;}
.p56price{ display:block;color:#c00; font-weight:bold}



/*好记星=HJX*/
.act_listHJX{ position:relative; zoom:1;border:1px solid #ECECEC; letter-spacing:0.1em}
.act_listHJX h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#65a81c}
.act_listHJX ul{ margin:0;padding:10px;}
.act_listHJX ul li { border-bottom:1px dashed #ECECEC; padding:3px 5px 3px 12px; background:url(/static/images/act/act_dottedHJX.gif) no-repeat left center;}
.act_listHJX ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_listHJX ul li a:hover{ font-size:12px; color:#65a81c; text-decoration:none}
.act_listHJX  span.icon_Pfoot{ position:absolute; display:block; z-index:999; right:-1px; bottom:-1px; _bottom:-5px; width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}


.act_TVHJX{ background-color:#2C8304;}
.act_TVHJX h1{ height:41px; padding-left:12px; background:url(/static/images/act/actHJX_bgtil.png) repeat-x; line-height:41px; color:#fff}
.act_TVHJX  p{ height:115px; margin:4px; border:1px solid #73C01F; text-align:center}

.ap_priceHJX{  color:#c00; font-weight:bold}

/*益尔健=YEJ*/
.act_listYEJ{ position:relative; zoom:1; border:1px solid #ECECEC; letter-spacing:0.1em}
.act_listYEJ h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#183e60}
.act_listYEJ ul{ margin:0;padding:10px;}
.act_listYEJ ul li { border-bottom:1px dashed #ECECEC; padding:3px 5px 3px 12px; background:url(/static/images/act/act_dottedYEJ.gif) no-repeat left center;}
.act_listYEJ ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_listYEJ ul li a:hover{ font-size:12px; color:#183e60; text-decoration:none}
.act_listYEJ  span.icon_Pfoot{ position:absolute; display:block; z-index:999; right:-1px; bottom:-1px; _bottom:-5px; width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}


.act_plistYEJ{ _width:624px;  border:1px solid #ECECEC; letter-spacing:0.1em; overflow: hidden;}
.act_plistYEJ h1{padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#183e60}
.act_plistYEJ ul li{ width:182px;  float:left; padding:10px 0 10px 20px;text-align:center; }

.act_TVYEJ{ background-color:#183E60;}
.act_TVYEJ h1{ height:41px; padding-left:12px; background:url(/static/images/act/actYEJ_bgtil.png) repeat-x; line-height:41px; color:#fff}
.act_TVYEJ  p{ height:115px; margin:4px; border:1px solid #3896CC; text-align:center}

.act_photYEJ{ position:relative; border:1px solid #ECECEC; letter-spacing:0.1em; overflow: visible/*overflow-x:hidden;overflow-Y:hidden*/}
.act_photYEJ h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#183e60}
.act_photYEJ ul{ margin:0; padding:0}
.act_photYEJ ul li {border-bottom:1px dashed #ECECEC; padding:5px 0; background:#fff;overflow:auto;_height:1% }
.act_photYEJ ul li:hover{  border-bottom:1px dashed #ECECEC; padding:5px 0; background:#F3F3F3}
.act_photYEJ ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_photYEJ ul li a:hover{ font-size:12px; color:#183e60; text-decoration:none}
.act_photYEJ  span.icon_Pfoot{position:absolute; right:-1px; bottom:-1px; width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}



/*.act_sortYEJ a{ margin-right:1px; padding:0 15px 0 5px; background:#ECECEC url(../images/act/sort_up.png) no-repeat 95% 50%; font-size:12px; color:#333; text-decoration:none }*/
/*.act_sortYEJ a:hover{margin-right:1px;  padding:0 15px 0 5px; background:#3492C8 url(../images/act/sort_down.png) no-repeat 95% 50%; font-size:12px; color:#fff; text-decoration:none}*/


/*紫环=ZH*/
.act_listZH{ position:relative; zoom:1; border:1px solid #ECECEC; letter-spacing:0.1em}
.act_listZH h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#305f36}
.act_listZH ul{ margin:0;padding:10px;}
.act_listZH ul li { border-bottom:1px dashed #ECECEC; padding:3px 5px 3px 12px; background:url(/static/images/act/act_dottedZH.gif) no-repeat left center;}
.act_listZH ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_listZH ul li a:hover{ font-size:12px; color:#305f36; text-decoration:none}
.act_listZH  span.icon_Pfoot{ position:absolute; display:block; z-index:999; right:-1px; bottom:-1px; _bottom:-5px; width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}

.act_photZH{ position:relative; border:1px solid #ECECEC; letter-spacing:0.1em; overflow: visible/*overflow-x:hidden;overflow-Y:hidden*/}
.act_photZH h1{ padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#305f36}
.act_photZH ul{ margin:0; padding:0}
.act_photZH ul li {border-bottom:1px dashed #ECECEC; padding:5px 0; background:#fff;overflow:auto;_height:1% }
.act_photZH ul li:hover{  border-bottom:1px dashed #ECECEC; padding:5px 0; background:#F3F3F3}
.act_photZH ul li a{ font-size:12px; color:#646464; text-decoration:none}
.act_photZH ul li a:hover{ font-size:12px; color:#305f36; text-decoration:none}
.act_photZH  span.icon_Pfoot{position:absolute; right:-1px; bottom:-1px; width:14px; height:14px; background:url(/static/images/act/icon_Pfoot.png) no-repeat;}

.act_plistZH{ _width: 624px; border:1px solid #ECECEC; letter-spacing:0.1em;overflow: hidden;}
.act_plistZH h1{padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#305f36}
.act_plistZH ul li{ width:182px;  float:left; padding:10px 0 10px 20px;text-align:center; }

.act_TVZH{ background-color:#305E37;}
.act_TVZH h1{ height:41px; padding-left:12px; background:url(/static/images/act/actZH_bgtil.png) repeat-x; line-height:41px; color:#fff}
.act_TVZH  p{ height:115px; margin:4px; border:1px solid #65a81c; text-align:center}

.act_OYrig{ width:824px; float:left; margin-left:8px; }


/* 单个图片幻灯片盒子 - 公用类 */
/*.slideBox_act{ width:1000px; height:300px; overflow:hidden; position:relative; z-index: -1   }*/
/*.slideBox_act .hdact{ height:15px; overflow:hidden; position:absolute; right:10px; bottom:10px; z-index:1; }*/
/*.slideBox_act .hdact ul{ overflow:hidden; zoom:1; float:left;  }*/
/*.slideBox_act .hdact ul li{ float:left; margin-right:5px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }*/
/*.slideBox_act .hdact ul li.onact{ background:#219727; color:#fff; }*/
/*.slideBox_act .bdact{ position:relative; height:100%; z-index:0;   }*/
/*.slideBox_act .bdact img{ width:1000px;; height:300px; }*/



.slideBox_act{ width:1000px; height:300px; overflow:hidden; position:relative; }
.slideBox_act .hdact{ height:20px; overflow:hidden; position:absolute; right:10px; bottom:10px; z-index:1}
.slideBox_act .hdact ul{zoom:1;}
.slideBox_act .hdact ul li{ float:left; margin-left:5px; width:15px; height:15px; text-align:center; line-height:15px; color:#219727;background:#fff; cursor:pointer}
.slideBox_act .hdact ul li.onact{ width:15px; height:15px; text-align:center; line-height:15px; color:#fff;background:#219727;}

.slideBox_act .bdact{  width:1000px; height:300px; z-index:0}
.slideBox_act .bdact img{ width:1000px; height:300px}



/*-------------------------------------------------------------------------------------
专题页 subject 01 by ZF
-------------------------------------------------------------------------------------*/
.subj_lft{ width:720px; float:left}
.subj_rig{ width:270px; float:right}

#subj_tag{}
#subj_tag .subjtilimg{ width:220px; float:left}
#subj_tag ul{ float:left; width:488px; height:85px; margin-top:3px; padding:5px; overflow:hidden; border:1px solid #d7d7d7; border-left:0; background: url(/static/images/subject/subj_tilbg.jpg) repeat-x bottom;}
#subj_tag ul li{ float:left; display:inline; padding:2px 5px; margin:3px; border:1px solid #d7d7d7; border-left:5px solid #64C03D; background:#fff; text-align:center;white-space:nowrap;}
#subj_tag ul li a{ display:inline-block; clear:none; font:12px/18px "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#666; text-decoration:none}
#subj_tag ul a:hover{ color:#29880A; text-decoration:none}

.subj_boxlft{ border:1px solid #E6E6E6;}
.subj_boxlft h1{ height:37px; line-height:37px; background:url(../images/tabview/bg_tabout.jpg) repeat-x;}
.subj_boxlft h1 .subjtil{ width:40%; float:left; margin-left:5px;padding-left:20px;   background:url(/static/images/subject/subj_ico1.jpg) no-repeat left center; font-weight:bold; font-size:13px; color:#333;}
.subj_boxlft h1 .subjdate{ width:55%; float:right; padding-right:5px; color:#29880A; text-align:right; font-weight:normal}
.subj_boxlft ul{ padding:15px 0}
.subj_boxlft ul li{ width:212px; display:inline;float:left;  padding:10px 0;margin-left:20px; }

.subj_Pimg{margin-bottom:8px}
.subj_Pimg img{ width:210px; height:210px}
.subj_Pimg a{border:1px solid #d7d7d7; display:block;}
.subj_Pimg a:hover{border:1px solid #63C03E; }


.subj_Pview{ width:62px; height:24px; line-height:24px; background: url(/static/images/subject/subject_01.png) no-repeat 0 -92px; text-align:center;}
.subj_Pview a{ font-size:12px; color:#666; text-decoration:none}
.subj_Pview a:hover{ font-size:12px; color:#29880A; text-decoration:none}

.p_listxt { margin-bottom:5px; color:#666; height:38px; overflow: hidden}
.p_listxt a{ font:12px; color:#666; text-decoration:none}
.p_listxt a:hover{ font:12px; color:#666; text-decoration:underline}

.subj_step{ width:174px; height:49px; float:left; margin-right:8px; background:url(/static/images/subject/subject_01.png) no-repeat 0 -126px;}
.subj_step span.subjM{ width:35px; display:block; float:left; text-align:center; line-height:49px; font-size:32px; font-weight:bold; color:#fff; font-family:Arial, Helvetica, sans-serif;text-shadow: #888 1px 1px 1px;}
.subj_step span.subjtxt{ width:120px; display:block; float:right; padding:5px 2px 0 0 ; text-align:left; font-size:12px; line-height:18px; color:#fff;}

.subj_ad720{ width:720px;}
.subj_ad720 img{ width:720px}

.subj_rig01{ border:1px solid #d7d7d7}
.subj_rig01 h1{height:24px; background:#29880A; line-height:24px; text-align:center; color:#fff; position:relative; letter-spacing:1px}
.subj_rig01 span.subjtiltagl{ position:absolute; left:0; top:0; width:5px; height:24px; background:#c00; border-right:1px solid #fff;}
.subj_rig01 span.subjtiltagr{ position:absolute; right:0; top:0;width:5px; height:24px; background:#c00;border-left:1px solid #fff;}

.subj_til01{ height:85px; background:url(/static/images/subject/subj_bg01.jpg) no-repeat; text-align:center}
.subj_til01 p{ padding:10px 5px 5px 5px; font-size:14px; font-weight:bold; color:#c00}
.subj_btn01{ margin:5px auto; width:123px; height:35px; background:url(/static/images/subject/subject_01.png) no-repeat 0 -1px; cursor:pointer}
.subj_btn02{ margin:5px auto; width:123px; height:35px; background:url(/static/images/subject/subject_01.png) no-repeat 0 -48px; cursor:pointer}

.subj_plist ul li{ padding:10px 0 0 0; background:url(../images/tabview/bg_tabcontent2.jpg) repeat-x bottom; position:relative;text-align:center;}
.subj_pSMimg{ width:150px; height:150px; margin:10px auto; border:1px solid #d7d7d7;}
.subj_pSMimg img{ width:150px; height:150px;}
.subj_sortNg{ position:absolute; top:15px; left:0; width:30px; height:30px; background:#63C03E; text-align:center; line-height:30px; color:#fff; font-size:14px; font-weight:bold}
.subj_sortxt{ position:absolute; top:15px; right:5px; width:30px; height:30px; text-align:center; line-height:30px; color:#63C03E; font-size:14px; font-weight:bold}
.subj_sortxt a{color:#63C03E; font-size:14px; font-weight:bold; text-decoration:none}
.subj_sortxt a:hover{color:#63C03E; font-size:14px; font-weight:bold; text-decoration:none}


.subj_sortNb{position:absolute; top:15px; left:0; width:30px; height:30px; background:#959595; text-align:center; line-height:30px; color:#fff; font-size:14px; font-weight:bold}

/*.subj_plist ul li  p.subjpN{ height:38px;}
.subj_plist ul li  p.subjpN a{ font-size:12px; color:#666; text-decoration:none}
.subj_plist ul li  p.subjpN a:hover{ font-size:12px; color:#29880A; text-decoration:none}
.subj_plist ul li span.subjpM{ display:block; padding:3px 0; text-align:center;}
*/

/*-------------------------------------------------------------------------------------
专题页 subject 02 by wanglanhua
-------------------------------------------------------------------------------------*/
.sub_main{ width:990px; padding:5px; margin:auto; overflow:hidden; border:1px solid #d7d7d7;}
.sub_snav{ background:url(/static/images/subject/subject_04.jpg) no-repeat; width:732px; height:95px; padding:5px 10px; overflow:hidden;}
.sub_snav ul li{ border-left:8px solid #64c03d; border-bottom: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; border-top: 1px solid #d7d7d7; padding:2px 10px; margin-top:4px; margin-left:10px; display:block; float:left;  overflow:hidden;}
/*
.sub_list{ width:990px;}
.sub_list ul li{ width:230px; height:360px; display:block; float: left; overflow:hidden; background-color:#F2F2F2; padding:8px; margin-left:0px; margin-top:0px;}
.sub_pimg{ height:224px; text-align:left;}
*/

.sub_list{ width:970px; padding:10px 8px; overflow:hidden; border:2px solid #d7d7d7;}
.sub_list ul li{ width:226px; height:350px; display:inline; float:left; overflow: hidden; padding:15px 8px ;}
.sub_list ul li:nth-of-type(4n+4){ background-image:none}
/*.sub_list ul li:hover{ border:3px solid #64c03d}*/

.sub_listimg{ margin-bottom:10px}
.sub_listimg img{  width:226px; height:226px; border:1px solid #d7d7d7; }
.sub_listimg img:hover{ border:3px solid #64c03d;}

.sub_listxt h1{ margin-bottom:5px; color:#666; height:38px; overflow: hidden; text-align:left; overflow:hidden;}
.sub_listxt a{ font:12px; color:#666; text-decoration:none}
.sub_listxt a:hover{ font:12px; color:#666; text-decoration:underline}

.sub_oldprice{ margin-bottom:5px;}
.sub_oldprice1{margin-left:20px;}

.sbtn_buygreen{ background-color:#fff;}
.sbtn_buygreen a{ width:80px; height:28px; display:block; background:url(/static/images/icon/iconbutton.png) no-repeat 0 -168px; padding-left:15px; margin-top:50px; margin-left:40px; line-height:24px;color:#666; text-decoration:none; letter-spacing:1px}
.sbtn_buygreen a:hover{background:url(/static/images/icon/iconbutton.png) no-repeat -95px -168px;font:12px/24px; color:#fff; text-decoration:none; letter-spacing:1px}





/*------------------------------------------------------------------------------
sort   2012/0919
------------------------------------------------------------------------------*/
.act_sortBBK { width:60%; height:22px; float:right; padding:0 5px; margin-top:8px; margin-right:5px;  font-size:12px; line-height:22px; text-align:right; font-weight:normal; color:#65A81C}
.act_sortBBK span{margin-right:1px; padding:0 10px 0 10px; background:#ECECEC; }

.act_sortBBK .ozing_hot_selected,.act_sortBBK .aoya_hot_selected,.act_sortBBK .babaka_hot_selected,.act_sortBBK .zihuan_hot_selected{ background:#70AD2C; color: #fff}
.act_sortBBK .ozing_hot_selected a,.act_sortBBK .aoya_hot_selected a,.act_sortBBK .babaka_hot_selected a,.act_sortBBK .zihuan_hot_selected a{color: #fff}
.act_sortBBK .ozing_hot_selected a:hover,.act_sortBBK .aoya_hot_selected a:hover,.act_sortBBK .babaka_hot_selected a:hover,.act_sortBBK .zihuan_hot_selected a:hover{color: #fff}

.act_sortBBK .desc,.act_sortYEJ .desc,.act_sort .desc{background:#65A81C url(/static/images/act/sort_down.png) no-repeat 95% 50%;}
.act_sortBBK .asc,.act_sortYEJ .asc,.act_sort .asc{background:#65A81C url(/static/images/act/sort_up.png) no-repeat 95% 50%;}

.act_sortBBK .ozing_productSellPrice_selected,.act_sortBBK .ozing_dateAdded_selected,.act_sortBBK .aoya_productSellPrice_selected,.act_sortBBK .aoya_dateAdded_selected,.act_sortBBK .babaka_productSellPrice_selected,.act_sortBBK .babaka_dateAdded_selected ,.act_sortBBK .zihuan_productSellPrice_selected,.act_sortBBK .zihuan_dateAdded_selected{padding:0 15px 0 10px;}
.act_sortBBK .ozing_productSellPrice_selected a,.act_sortBBK .ozing_dateAdded_selected a,.act_sortBBK .aoya_productSellPrice_selected a,.act_sortBBK .aoya_dateAdded_selected a,.act_sortBBK .babaka_productSellPrice_selected  a,.act_sortBBK .babaka_dateAdded_selected  a,.act_sortBBK .zihuan_productSellPrice_selected a,.act_sortBBK .zihuan_dateAdded_selected a{ color: #fff; text-decoration:none}
.act_sortBBK .ozing_productSellPrice_selected a:hover,.act_sortBBK .ozing_dateAdded_selected a:hover,.act_sortBBK .aoya_productSellPrice_selected a:hover,.act_sortBBK .aoya_dateAdded_selected:hover,.act_sortBBK .babaka_productSellPrice_selected a:hover,.act_sortBBK .babaka_dateAdded_selected a:hover,.act_sortBBK .zihuan_productSellPrice_selected a:hover,.act_sortBBK .zihuan_dateAdded_selected a:hover{ color: #fff; text-decoration:none}

.act_sortYEJ{ width:60%; height:22px; float:right; padding:0 5px; margin-top:8px; margin-right:5px;  font-size:12px; line-height:22px; text-align:right; font-weight:normal; color:#3492C8}
.act_sortYEJ span{margin-right:1px; padding:0 10px 0 10px; background:#ECECEC;}

.act_sortYEJ .yierjian_hot_selected{ padding: 0 15px 0 5px; background: #2F97CE; color: #fff}
.act_sortYEJ .yierjian_hot_selected a{ color: #fff;}
.act_sortYEJ .yierjian_hot_selected a:hover{ color: #fff;}

.yierjian_productSellPrice_selected .desc{background:#2F97CE url(/static/images/act/sort_down.png) no-repeat 95% 50%;}
.yierjian_productSellPrice_selected .asc{background:#2F97CE url(/static/images/act/sort_up.png) no-repeat 95% 50%;}

.act_sortYEJ .yierjian_productSellPrice_selected,.act_sortYEJ .yierjian_dateAdded_selected {padding:0 15px 0 10px; background-color: #2F97CE;}
.act_sortYEJ .yierjian_productSellPrice_selected a,.act_sortYEJ .yierjian_dateAdded_selected a{ color: #fff; text-decoration: none}
.act_sortYEJ .yierjian_productSellPrice_selected a:hover,.act_sortYEJ .yierjian_dateAdded_selected a:hover{ color: #fff; text-decoration: none}


.act_sort{ width:60%; height:22px; float:right; padding:0 5px; margin-top:8px; margin-right:5px;  font-size:12px; line-height:22px; text-align:right; font-weight:normal}
.act_sort span{margin-right:1px; padding:0 10px 0 10px; background:#ECECEC}

.act_sort .yanglide_hot_selected{ background: #26BCFB}
.act_sort .yanglide_hot_selected a{ color: #fff}
.act_sort .yanglide_hot_selected a:hover{ color: #fff}

.act_sort .yanglide_productSellPrice_selected,.act_sort .yanglide_dateAdded_selected  { padding: 0 15px 0 10px; background-color: #26BCFB}
.act_sort .yanglide_productSellPrice_selected a,.act_sort .yanglide_dateAdded_selected a{ color: #fff}
.act_sort .yanglide_productSellPrice_selected a:hover,.act_sort .yanglide_dateAdded_selected a:hover{ color: #fff}

.tag_sortBBK { width:60%; height:22px; float:left; vertical-align:middle; padding:0 5px; margin-top:8px; margin-right:5px;  line-height:22px; text-align:right; font-weight:normal; color:#65A81C}
.tag_sortBBK span{margin-right:1px; padding:0 10px 0 10px; background:#ECECEC; }

.tag_sortBBK .tag_hot_selected,.tag_sortBBK .aoya_hot_selected,.tag_sortBBK .babaka_hot_selected,.tag_sortBBK .zihuan_hot_selected{ background:#70AD2C; color: #fff}
.tag_sortBBK .tag_hot_selected a,.tag_sortBBK .aoya_hot_selected a,.tag_sortBBK .babaka_hot_selected a,.tag_sortBBK .zihuan_hot_selected a{color: #fff}
.tag_sortBBK .tag_hot_selected a:hover,.tag_sortBBK .aoya_hot_selected a:hover,.tag_sortBBK .babaka_hot_selected a:hover,.tag_sortBBK .zihuan_hot_selected a:hover{color: #fff}

.tag_sortBBK .desc,.tag_sortYEJ .desc,.tag_sort .desc{background:#65A81C url(/static/images/act/sort_down.png) no-repeat 95% 50%;}
.tag_sortBBK .asc,.tag_sortYEJ .asc,.tag_sort .asc{background:#65A81C url(/static/images/act/sort_up.png) no-repeat 95% 50%;}

.tag_sortBBK .tag_productSellPrice_selected,.tag_sortBBK .tag_dateAdded_selected,.tag_sortBBK .aoya_productSellPrice_selected,.tag_sortBBK .aoya_dateAdded_selected,.tag_sortBBK .babaka_productSellPrice_selected,.tag_sortBBK .babaka_dateAdded_selected ,.tag_sortBBK .zihuan_productSellPrice_selected,.tag_sortBBK .zihuan_dateAdded_selected {padding:0 15px 0 10px;}
.tag_sortBBK .tag_productSellPrice_selected a,.tag_sortBBK .tag_dateAdded_selected a,.tag_sortBBK .aoya_productSellPrice_selected a,.tag_sortBBK .aoya_dateAdded_selected a,.tag_sortBBK .babaka_productSellPrice_selected  a,.tag_sortBBK .babaka_dateAdded_selected  a,.tag_sortBBK .zihuan_productSellPrice_selected a,.tag_sortBBK .zihuan_dateAdded_selected a{ color: #fff; text-decoration:none}
.tag_sortBBK .tag_productSellPrice_selected a:hover,.tag_sortBBK .tag_dateAdded_selected a:hover,.tag_sortBBK .aoya_productSellPrice_selected a:hover,.tag_sortBBK .aoya_dateAdded_selected:hover,.tag_sortBBK .babaka_productSellPrice_selected a:hover,.tag_sortBBK .babaka_dateAdded_selected a:hover,.tag_sortBBK .zihuan_productSellPrice_selected a:hover,.tag_sortBBK .zihuan_dateAdded_selected a:hover{ color: #fff; text-decoration:none}

.act_plistOY{ _width: 824px; border:1px solid #ECECEC; letter-spacing:0.1em; overflow-x: hidden; overflow-y: hidden; }
.act_plistOY h1{padding-left:12px; height:39px; background:url(/static/images/act/act_bgtil01.png) repeat-x; border-bottom:1px solid #ECECEC; font:14px/39px  "微软雅黑", "宋体", Tahoma, "Arial Unicode MS"; color:#65a81c}
.act_plistOY ul li{ width:182px;  float:left; padding:10px 0 10px 20px;text-align:center; }

.act_sortBBK .ozing_hot_selected,.act_sortBBK .aoya_hot_selected,.act_sortBBK .babaka_hot_selected,.act_sortBBK .zihuan_hot_selected ,.act_sort .yanglide_hot_selected { padding: 0 15px 0 10px}

.act_sortYEJ .desc,.act_sort .desc{background:#2F97CE url(/static/images/act/sort_down.png) no-repeat 95% 50%;}
.act_sortYEJ .asc, .act_sort .asc{background:#2F97CE url(/static/images/act/sort_up.png) no-repeat 95% 50%;}