<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinadrtv.taobao.common.dal.wms.dao.WmsTradeDao">
	
	<resultMap type="HashMap" id="stockMap">
		<result column="item" property="item" javaType="java.lang.String"/>
		<result column="qty" property="qty" javaType="java.lang.Long"/>
	</resultMap>
	
	<select id="calcItemStock" parameterType="java.lang.String" resultMap="stockMap" statementType="CALLABLE">
		exec Z_OMS_ItemInventory #{itemId}
	</select>
	
</mapper>